<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/pessoas']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{pessoa.nome}}</h2></mat-card-title>
      <mat-card-subtitle>{{pessoa.cpf}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Sexo:</dt>
        <dd>{{pessoa.sexo}}</dd>
		
        <dt>E-mail:</dt>
        <dd>{{pessoa.email}}</dd>
		
		<dt>Data de Nascimento:</dt>
        <dd>{{pessoa.dtNascimento | date}}</dd>
		
		<dt>Naturalidade:</dt>
        <dd>{{pessoa.naturalidade}}</dd>
		
		<dt>Nacionalidade:</dt>
        <dd>{{pessoa.nacionalidade}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/pessoa-edit', pessoa.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deletePessoa(pessoa.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
